// Partial SCSS file containing global styling



// === USE ====================================
@use 'variables' as *;



/* ============================================
   GLOBAL
   ============================================ */

:global(body) {
    font-family: 'Inter';
    background-color: var(--clr-100);
}

main, h1 {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;

    transition: padding var(--transition-normal) var(--transition-fn1);
}

.region {
    width: 100%;

    /* flexbox */
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-md);

    position: relative;

    /* border */
    border: solid var(--clr-region-border) var(--bwidth-main) ;
    border-radius: var(--bradius-md);

    padding: calc(var(--gap-sm) - var(--bwidth-main));
    background-color: var(--clr-region-bg);

    transition: border-color var(--transition-faster) var(--transition-fn1);

    &::after {
        /* after pseudo class for animated box-shadow */
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        /* box-shadow (::after) is hidden by default. opacity is used to improve performace */
        box-shadow: var(--box-shadow);
        
        opacity: 0;
        transition: opacity var(--transition-faster) var(--transition-fn1);
    }

    &:focus-visible {
        border-color: var(--clr-accent);

        &::after {
            /* show box-shadow */
            opacity: 1;
        }
    }

    .heading {
        /* flexbox */
        display: flex;
        flex-flow: row nowrap;
        gap: var(--gap-xs);

        h2 {
            font-size: 1.35rem;
            font-weight: 500;
        }
    }
}

.setting {
    /* flexbox */
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-xs);
}

ul.options {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-xs);

    /* remove default styling */
    list-style: none;
    padding: 0;
    margin: 0;
    
}

/* === TYPOGRAPHY ========================= */
h1 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5em;
}

.label {
    font-size: 1.2rem;
    font-weight: 500;
}


// left sidebar
:global([data-sidebar-dir="left"]) {
    main {
        padding: var(--gap-md) var(--gap-md) var(--gap-md) calc(var(--gap-md) + var(--sidebar-width) + var(--gap-xl));
    }

    h1 {
        padding: var(--pad-xxl) var(--gap-md) calc(var(--pad-xxl) - var(--gap-md)) calc(var(--gap-md) + var(--sidebar-width) + var(--gap-xl));
    }
}

// right sidebar
:global([data-sidebar-dir="right"]) {
    main {
        padding: var(--gap-md) calc(var(--gap-md) + var(--sidebar-width) + var(--gap-xl)) var(--gap-md) var(--gap-md);
    }

    h1 {
        padding: var(--pad-xxl) calc(var(--gap-md) + var(--sidebar-width) + var(--gap-xl)) calc(var(--pad-xxl) - var(--gap-md)) var(--gap-md);
    }
}