// Partial SCSS file containing global styling



// === USE ====================================
@use 'variables' as *;



/* ============================================
   GLOBAL
   ============================================ */

:global(body) {
    font-family: 'Inter';
    background-color: var(--clr-100);
}

main, h1 {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.region {
    width: 100%;

    /* flexbox */
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-sm);

    /* border */
    border: solid var(--clr-region-border) var(--bwidth-main) ;
    border-radius: var(--bradius-md);

    padding: calc(var(--gap-sm) - var(--bwidth-main));
    background-color: var(--clr-region-bg);

    transition: border-color var(--transition-faster) var(--transition-fn1);

    &:focus {
        border-color: var(--clr-accent);
    }

    .heading {
        /* flexbox */
        display: flex;
        flex-flow: row nowrap;
        gap: var(--gap-xs);

        h2 {
            font-size: 1.35rem;
            font-weight: 500;
        }
    }
}

ul.options {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-xs);

    /* remove default styling */
    list-style: none;
    padding: 0;
    margin: 0;
    
}

/* === TYPOGRAPHY ========================= */
h1 {

}


// left sidebar
:global([data-sidebar-dir="left"]) {
    main, h1 {
        padding: var(--gap-md) var(--gap-md) var(--gap-md) calc(var(--gap-md) + var(--sidebar-width) + var(--gap-lg));
    }
}

// right sidebar
:global([data-sidebar-dir="right"]) {
    main, h1 {
        padding: var(--gap-md) calc(var(--gap-md) + var(--sidebar-width) + var(--gap-lg)) var(--gap-md) var(--gap-md);
    }
}