// Partial SCSS file containing variables



// === USE ====================================
@use 'colors' as *;


/* ============================================
   VARIABLES
   ============================================ */

// === BREAKPOINTS ============================
$breakpoint-smdesktop: 1450px;
$breakpoint-tablet: 1250px;
$breakpoint-mobile: 650px;

:root {
    /* === CSS VARIABLES ====================== */
    --max-width: calc(2 * var(--gap-md) + var(--sidebar-width) + var(--gap-xl) + var(--content-width)); // page max width
    --content-width: 50rem;
    --bwidth-main: 0.15rem;
    --bradius-md: 0.7rem;
    --bradius-sm: 0.3rem;
    --bradius-xs: 0.2rem;
    --box-shadow: 0 0.2rem 1.7rem -0.7rem var(--clr-accent); // interactive element box-shadow

    --sidebar-width: calc(20rem + var(--gap-md) * 2); // #sidebar (skipLinks and navBar) width
    --sidebar-pad-centered: max(calc((100vw - var(--max-width)) / 2 + var(--gap-md)), var(--gap-md));
    --sidebar-mar-centered-left: max(calc((100vw - var(--max-width)) / 2), 0px);
    --sidebar-mar-centered-right: max(calc((100vw - var(--max-width)) / 2 + var(--gap-md) + var(--content-width) + (var(--gap-xl) -var(--gap-md))), calc(var(--gap-md) + var(--content-width) + (var(--gap-xl) -var(--gap-md))));

    --pad-xxl: 6rem; // extra extra large padding
    --pad-xl: 4.5rem; // extra large padding
    --pad-lg: 3rem; // large padding
    --pad-md: 2rem; // medium padding
    --pad-sm: 1.5rem; // small padding
    --pad-xs: 1.2rem; // extra small padding
    --pad-xxs: 0.4rem; // extra extra small padding

    --gap-xl: calc(var(--gap-lg) * 1.5); // sidebar/main gap
    --gap-lg: 3rem; // default set as "medium", overwritten in store.js
    --gap-md: calc(var(--gap-lg) / 2); // page border padding
    --gap-sm: calc(var(--gap-lg) / 3); // region padding
    --gap-xs: calc(var(--gap-lg) / 4); // inner gap size (between elements within a region)

    --content-pad: 0 var(--gap-md) 0 calc(var(--gap-md) + var(--sidebar-width) + var(--gap-lg));

    --transition-faster: 150ms;
    --transition-normal: 300ms;
    --transition-fn1: ease-in-out;


    /* === COLORS ============================= */
    // parse $colors into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }

    // medium contrast color assignments
    --clr-region-bg: var(--clr-50);
    --clr-region-border: var(--clr-50);
    --clr-elem-bg: var(--clr-0);
    --clr-elem-border: var(--clr-0);
}